.navbar-lewagon {
  justify-content: space-between;
  background: white;

  .navbar-collapse {
    flex-grow: 0;

    .nav-link {
      font-size: x-large;
      color: black;
      font-weight: 600;

    }

    .type2 {
      font-size: x-large;
      color: black;
      font-weight: 600;
    }
  }

  .navbar-brand img {
    width: 40px;
  }
}

// .navbar-lewagon .navbar-collapse {
  // flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
  // width: 40px;
// }
