.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #d7d7d7;

  .navbar-collapse {
    flex-grow: 0;

    .nav-link {
      font-size: x-large;
      color: black;
      font-weight: 400;
    }
  }

  .navbar-brand img {
    width: 35px;
  }
}

span.logo-type {
  justify-self: center;
}


// .navbar-lewagon .navbar-collapse {
  // flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
  // width: 40px;
// }
