.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 100;

  .navbar-collapse {
    flex-grow: 0;

    .nav-link {
      font-size: x-large;
      color: black;
      font-weight: 600;

    }
  }

  .navbar-brand img {
    width: 40px;
  }
}
