<div class="container">
  <div class="header d-flex justify-content-between">
    <div>
      <h1>All Products</h1>
    </div>
    <div>
    <a href="#" class="btn btn-outline-dark">What are you looking for?</a>
    </div>
  </div>

  <div class="card-small">

      <% @products.each do |product|%>
        <div class='card'>
          <a href="/products/<%=product.id %>">
            <div class="card-img-top">
            </div>
            <div class="card-body">
              <div class="card-text">
                <div class="card-info d-flex justify-content-between">
                  <div>
                    <h5><%= product.name.capitalize%></h3>
                  </div>
                  <div>
                    <p><%=  product.price %>€/hr</p>
                  </div>
                </div>
                <p><%= product.description %></p>
              </div>
            </div>
          </a>
      </div>
      <% end %>

  </div>
</div>
